<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      New request!
    </h2>
    <p>
      <h3>Data:</h3>
      <ul>
        <li><b>Name</b>: <%= @request.name %></li>
        <li><b>Phone number</b>: <%= @request.phone_number %></li>
        <li><b>Email</b>: <%= @request.email %></li>
        <li><b>Company</b>: <%= @request.company %></li>
      </ul>
    </p>
  </body>
</html>
