<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      New message!
    </h2>
    <p>
      <h3>From <%= @contact.name %></h3>
      <ul>
        <li><b>Email</b>: <%= @contact.email %></li>  
        <li><b>Phone number</b>: <%= @contact.phone %></li>  
        <li><b>Message</b>: <%= @contact.message %></li>  
      </ul>
    </p>
    </body>
</html>