.f-dropdown {
	&.tiny {
		margin-left: -155px;
	}
	&.medium {
		margin-left: -405px;
	}
}
fieldset.scroll-panel{
	section{
		padding: 20px;
		border-bottom: 1px solid #ccc;
		.row.headers div{
			font-weight: bold;
			font-size: 14px;
    		color: black;
		}
	}
}