@import 'overrides';
@import 'compass/css3';
	

.container{
	background-color: #f5f5f5;
	overflow: auto;
	
	a:hover{
		color: #333;
	}
	h1{
		text-align: center;
		font-size: 54px;
		padding-top: 5rem;
		font-weight: 300;
		@media #{$small-only} {
			 font-size: 24px;
			}
	}

	p{
		font-size: 24px;
	  	text-align: center;
	  	margin-bottom: 0;
	  	line-height: 110%;
		@media #{$small-only} {
			 font-size: 18px;
			 padding-left: 0.5rem;
			 padding-right: 0.5rem;
			}
		strong{
			color: red;
			font-weight: 400;
			
		}
	}
}

	div.contact_form{
		text-align: center;
		background-color: #f5f5f5;
		padding-bottom: 113px;
		margin-top: 3.1rem;
		form[data-abide] div.row div > div {

			&.error small.error{
			display: inline-block;
			}

			small.error{
	      	padding: 0.375rem 0.5625rem 0.5625rem;
			margin-top: -1px;
			margin-bottom: 1rem;
			font-size: 0.75rem;
			font-weight: normal;
			font-style: italic;
			background: none repeat scroll 0% 0% #f5f5f5;
			color: #ed831c;
			position: absolute;
			display: none;
			@media #{$small-only}{
			font-size: 0.66667rem;
			font-weight: normal;
			font-style: italic;
			padding-bottom: 0px;
			margin-bottom: 0px;
			position: relative;
			margin-top: -1px;
			padding-top: 0px;
			display: block;
			text-align: left;
			width: 100%;
			padding-left: 3.5%;
			}
	    	}
		}
		input:invalid:focus {
		  border: 1px solid #ed831c;
		  background-color: #ffefe0;
		}
		div.diffaddress{
			display: none;
		}
		div.extradata{
			display: none;
		}
		&.signup{
			text-align: center;
			margin-top: 6rem;

		@media #{$small-only} {
		      margin-top: 0;
		  }
		}
		div.extra_labels{
      		text-align: left;
      	}
		div.checkboxes{
			text-align: left;
			margin-left: 30%;
			 border-top: 1px solid rgba(128, 128, 128, 0.23);;
			padding: 1rem 0;
			p{

			}
		* {
		    @include inline-block();
		    margin: 0;
		    font-weight: 500;
		  }

		  input[type=checkbox],
		  input[type=checkbox]:checked {
		    display: none;
		  }

		  label {
		    padding-left: 1.5rem;
		    position: relative;
		    line-height: 100%;
		     }

		  label:before {
		    @include inline-block();
		    content: "";
		    border: 1px solid #d6d4d5;
		    height: 1.2rem;
		    width: 1.2rem;
		    position: absolute;
		    left: 0;
		    top: 50%;
		    margin-top: -0.55rem;
		  }

		  input[type=checkbox]:checked + label:before {
		    content: "\2713";
		    font-size: 1rem;
		    color: green;
		    text-align: center;
		    line-height: 1.1rem;
		    text-indent: 0.1rem;
		  }

			label{
				width: 100%;
				text-align: left;
			}
			@media #{$small-only}{
				text-align: left;
				margin-left: 8%;
			}
			p{
				float: left
			}
			hr{
				width: 500px;
				margin-left: 49px;
			}
		}
		.labels{
			text-align: left;
		}
		select{
			@media #{$small-only} {
				      width: 93%;
				    }
			display: inline-block;
			width: 326px;
		}
		textarea {

		&:invalid:focus {
		  border: 1px solid #ed831c;
		  background-color: #ffefe0;
		}
		padding-bottom: 20px;
		resize: none;
		width: 35%;
		height: 219px;
		display: inline-block;
		border-radius: 5px;
		@media #{$small-only} {
				      width: 93%;
				    }
		}
		label{
			padding-right: 0.5rem;
			text-align: right;
			@include inline-block();
			width: 10%; 
			font-weight: 500;
			font-size: 1.1rem;
			margin-left: -10%;

			@media #{$small-only} {
			 font-weight: 500;
			 font-size: 1.1rem;
			 padding-right: 0.5rem;
			 width: 100%;
			 margin-left: 2%;
			 text-align: left;
			 padding-left: 10px;
			}

			&.text{
				vertical-align: top;
				margin-top: 6px;
			}

			& + div {
				@include inline-block();
			}
		}
		p {
			display: inline-block;
		}
		input {
			margin: 0 auto;
    	}
    
	    input[type="text"] {
	    	border-radius: 5px;
			width: 35%;
			display: inline-block;
			margin-bottom: 11px;
			@media #{$small-only} {
				      width: 93%;
				    }
			&.std{
				width: 25%;
				   @media #{$small-only} {
				      width: 100%;
				    }
			}
			&.phone{
				width: 20%;
				@media #{$small-only} {
				      width: 100%;
				    }
			}
			&.short{
				width: 15%;
				@media #{$small-only} {
				      width: 100%;
				    }
			}
			&.long{
				width: 45%;
				@media #{$small-only} {
				      width: 100%;
				    }
			}
	    }
	    input[type="password"] {
		    border-radius: 5px;
		    width: 93%;
		    display: inline-block;
		    margin-bottom: 11px;
		    &.std{
		    	width: 326px;
		    	@media #{$small-only} {
				      width: 100%;
				    }
		    }
		}

	    .button {
	       margin: 20px 0;
		   font-weight: 800;
		   font-size: 21px;
		   width: 35%;
		   display: inline-block;
		   @media #{$small-only} {
				      width: 93%;
				    }
      	}

      	.extradata{
      		strong{
      			font-weight: 200;
      			// padding-right: 208px;
       		}
      	}
	}
