@import 'overrides';
@import 'compass/css3/transition';
footer {
  border-top: 1px solid #f5f5f5;
  .wrapper {
    margin: 0 auto;
    max-width: 850px;
    padding: 2.5em 1em;
    &:after { content: ''; clear: both; display: block; }
  }

  .social,
  .links {
    @media #{$small-only} { 
      width: 100%;
    }
    width: 50%;
    float: left;
  }
  .links {
    a{
      @media #{$small-only}{
      font-size: 18px;
    }
    }
  }
  .social {
    text-align: right;
    @media #{$small-only}{
      text-align: center;
    }

    p {
      font-family: "aktiv-grotesk-std",sans-serif;
      font-size: .85rem;
      margin-bottom: .3rem;
      color: #7D8384;
      &.call{
        font-size: 18px;
        font-weight: 500;
        padding-top: 1rem;
        padding-bottom: 0.8rem;
      }
    }


    a {
      position: relative;
      border-radius: 50%;
      display: inline-block;
      width: 36px;
      height: 36px;
      background: #f5f5f5;
      color: #fff;
      margin: 0 .2rem;
      padding: 8px 0 5px 1px;
      text-align: center;
      top: 0;
      @include transition(top 300ms);

      .fa {
        font-size: 1.3rem;
      }

      &:hover, &:focus {
        top: -5px;
      }


      &.facebook {background: #3a589b}
      &.twitter {background: #55acee}
      &.linkedin {background: #007ab9}
    }
  }

  .links a {
    display: block;
    color: #555;
    font-size: .85rem;
    @media #{$small-only}{
      font-size: 18px;
      border-top: 1px solid #eeeeee;
      border-bottom: 0px;
      border-width: 100%;
      padding: 5px 0px 5px 10px;
      font-weight: 300;
      padding-left: 10.625%
    }
    &.right{
        border-top: none;
        color: #ed1c24;
     }
    &:hover, &:focus {
      color: #333;
      text-decoration: underline;
    }
  }

}

