@import 'overrides';

section.sign_demo{
  
	background: #f5f5f5;
  padding-top: 4rem;
  .row{
  }
  .or{

    font-size: 18px;
    color: #a6a6a6;
    padding-top: 12.5rem;
    padding-bottom: 0 !important;
    @media only screen and (max-width: 640px) {
         padding: 0 !important;
    }
  }
  h2 {
    text-align: center;
    color: black;
    display: block;
    font-size: 40px;
    font-weight: 200;
    margin: 129px auto 0;
  }

  h3 {
    text-align: center;
    color: black;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    margin: 16px;

  }
    ul {
        padding-top: 79px;
        max-width: 1240px;
        display: block;
        text-align: center;
        margin: 3.8em auto;
        list-style: none;
        margin-top: 0px;

    li {
       vertical-align: top;
       display: inline-block;
       padding: 0 1.5rem;
       width: 45%;
       &:hover .red-icon {
        border-width: 0px;
        box-shadow: 0 0 0 10px rgba($primary-color, .8);
       }
    }
  }

	p{
		display: inline-block;
	}

 .buttons {
    text-align: center;
    height: 100%;
    &>div{
      height: 100%;
      padding-bottom: 8rem;
    }
    
    a {
      display: inline-block;
      width: 80%;
      margin: 0 auto;
      padding: 0.9rem 0 0.9625rem ;
      font-weight: 600;
      position: absolute;
      bottom: 4rem;
      left: 50%;
      margin-left: -40%;
    }
  }
}
  #myModal{
    text-align: left;

    .row{
      width: 286px;
    }
      h2 {
        font-size: 28px;
        font-weight: 15px;
        text-align: center;
        color: #333333;
    }

    p {
      text-align: center;
      &.gray{
        color: gray;
      }
    }

    a.button{
      width: 288px;
      border-radius: 5px;
    }
    label{
      text-align: left;
    }

    #get_form{
    input {
       margin: 0 auto;
    }
    input[type="text"] {
      text-align: center;
      width: 288px;
    }
  }
}

section.webinars{

	h2 {
    text-align: center;
    color: black;
    display: block;
    font-size: 1.75rem;
    font-weight: 500;
    margin: 4rem auto 0;
  }
  h3 {
    text-align: center;
    padding-bottom: 1rem;
    color: black;
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2rem;
    margin: 0.75rem;

  }
  div.registerweb{
    padding-bottom: 4rem;
    table{
      border: none;
      width: 597px;
      margin: 0 auto;
        tr{
          td{
            padding:0;
            margin-right: 10px;
            h4{
              text-align: center;
              font-size: 28px;
              font-weight: 600;
              margin-bottom: -7px;
            }
            h5{
              text-align: center;
              font-size: 12px;
            }
            h6{
              font-size: 18px;
              font-weight: 400;
            }
          }  
          td.lang{
            width: 120px;
          }
          td.register{
            width: 150px;
            a{
              width: 118px;
              margin: 0 0;
              font-weight: 600;
              &.button{
                border-radius: 8px;
                margin-left: 10px;
                padding-left: 26px;
                padding-top: 9px;
                padding-bottom: 9px;
              }
            }
          }
          td.data{
            width: 91px;
          }
          td.time{
            text-align: center;
            p{
              color: #808080;
              font-size: 18px;
              font-weight: 500;
              padding-top: 16px;
              margin-top: -27px;
              margin-bottom: -10px;
            }
          }
          }
       }
  ul {
    padding-top: 40px;
    display: block;
    text-align: center;
    list-style-type: none;
    hr{
      width: 50%;
      margin-left: 325px;
    }
    li {
       text-align: center;
       p.date{
       }
        p {
            display: inline-block;
            padding-left: 25px;
            margin-right: 65px;
            .strong{
              font-weight: 150px;
            }
          }
        a{
          padding-left: 10px;
        }
    }

    .button {
      padding: 9px;
      height: 39px;
      width: 118px;
      text {
        text-align: center;
      }
       a {
          display: inline-block;
          margin: 0 20px;
          padding: 0.9rem 4.2rem 0.9625rem 4.2rem;
          font-weight: 600;
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
  }
}
}