@import 'compass/css3/transform';
@import '_overrides';

i.custom-arrow{
  &:before{
  content:'';
  background-image: image-url('tiny-arrow-gray.png');
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  }

  &.gray-arrow:before{
      width: 6px; 
      height: 11px;
    }
  &:before {
    transition: all 0.5s;
  }

  &.clicked:before {
    @include transform(rotate(90deg));
  }
}

i.custom-icon {
  &:before {
    content: '';
    background-image: image-url('sprites.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
  }

  &.webinar:before {
    width: 38px;
    height: 38px;
    background-image: image-url('webinar.png');
    background-color: red;
    background-position: -5px -1px;
    border: 2px solid red;
    border-radius: 25px;    
    margin-right: 1rem;
    margin-top: -6px;
  }
  &.webinar:hover:before {
    background-color: #b20007;
    border: 2px solid #b20007;
    border-radius:25px;
  }

  &.red-arrow:before {
    width: 42px;
    height: 40px;
    background-image: image-url('arrow.png');
    background-color: red;
    border: 2px solid red;
    border-radius: 25px;
    margin-top: -6px;
    margin-right: 1rem;
    @media #{$small-only}{
      float: left;
    }
  }
  &.red-arrow:hover:before{
    background-color:  #b20007;
    border: 2px solid #b20007;
    border-radius: 25px;
  }

  &.red-arrow.down-side:before { @include transform( rotate(90deg) ); }
  &.red-arrow.up-side:before { @include transform( rotate(270deg) ); }
  &.red-arrow.left-side:before { @include transform( rotate(180deg) ); }

  &.close:before {
    width: 57px;
    height: 57px;
    background-position: -80px 0;
  }

  &.play:before {
    width: 94px;
    height: 94px;
    background-position: -140px 0;
  }

  &.play-gray:before{
    background-position: -244px 0;
    width: 94px; 
    height: 94px;
  }
}
