@import 'overrides';
@import 'compass';
section.top_img {
  position: relative;
  overflow: hidden;
  height: 350px;
  padding-bottom: 50px;
  width: 100%;
  background: white url('/assets/news/header.jpg') no-repeat center center;
  background-size: cover;
  div.news_cont{
      h1{
      font-size: 54px ;
      font-weight: 500;
    }
  }

  .row{
  	position: relative;
  }
  .poster {
    position: absolute;
    width: 100%;
    z-index: -1;

    img {
      min-width: 1280px;
      width: 100%;
    }
  }
  h1 {
  	text-align: center;
  	color: #fff;
  	font-size: 39px;
    font-weight: 400;
    margin: 1.5em auto 0;
  }
  h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
  }
}

section.news_content{
	padding-top: 4rem;
	padding-bottom: 10px;
	div.more{
    a:hover{
      color: #333;
    }
  }
  .cont{
    position: relative;
    overflow: auto;
    padding-left: 3.5%;
    padding-right: 3.5%;
  }

  h3.title{
      word-wrap: break-word;
      font-weight: 700;
      width: 90%;
      color: black;
    }
    a{
      color: black;
      &:hover{
        color: black;
      }
    }

    ul{
      list-style-type: none;
      position: relative;
      margin-left: 0;
      li{
        padding-bottom:10px;
      }
    }
  .news{
    padding-right: 4rem;
     @media only screen and (max-width: 640px) {
             padding-right: 0.9375rem;
             padding-left: 0.9375rem;
    }
  }
  .date {
    	color: #9a9a9a;
      font-size: 0.9rem;
      margin-top: 0.75rem;
      margin-bottom: 0;
    }
  .image{
    	margin-left: auto;
    	margin-right: auto;
      img{
        width: 100%;
      }
    	// display: block;
    }
  .content{
    padding-top: 20px;
    word-wrap: break-word;
  }
  .more{
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eeeeee;
    a{
      font-weight: 600;
      color: #ee1d23;
    }
  }

  .twitter{
    margin-top: 3rem;
  }

  .categories{
    padding-top:10px;
    p{
      color: lightgray;
      margin-bottom: -0.5rem;
      font-size: 0.9rem;
      text-transform: uppercase;
    }
    ul.categories{
      li{
        a{  
        color: red;
        font-weight: 800;
        margin-bottom: -0.6rem;
        }
      }
    }
  }
}

 // SHOW 

section.news_post
{
position: relative;
  &:after {
    @media #{$medium-up}{
    content: "";
    position: absolute;
    width: 100%;
    height: 65%;
    bottom:0;
    left: 0;
    z-index: 1;
    @include background-with-css2-fallback(linear-gradient(bottom, rgba(0,0,0,0.85), transparent));
    }
  }
  .head{
    margin-left: .9rem;
  }

  .title{
    font-weight: 600;
    padding-bottom: 0.7rem;
    padding-right: 1.2rem;
  }
   @media #{$small-only}{
      padding-top: 5rem;
      padding-bottom:1rem;
     }
  img{
    width: 100%;
  }
  margin-bottom: 80px;
  .poster {
    z-index: 2;
  }
    h4{
        text-align: center;
        color: black;
        font-size: 3.375rem;
        font-weight: 200;
        margin: 2.7em 0 0.5em 0;
        margin-right: 580px
        }

    h2{
      font-size: 19px;
      margin-top: -10rem;
      position: absolute;
      color: rgba(251, 251, 251, 1);
    }

    h1{
      margin-top: -8rem;
      position: absolute;
      font-size: 2.3rem;
      color: rgba(251, 251, 251, 1);
    }
    p{
      display: inline;
      color: white;
    }
    a{
      color: rgba(251, 251, 251, 1);
     @media #{$small-only}{
        color: red;
        font-size: 2rem;
        font-weight: 500;
       }
    }
    .date{
      display: inline;
    }
}
section.post_image
  {
    a{
      color: white;
    }
    div.poster{
      width: 100%;
      margin: 0 auto;
    }
    h2{
      font-size: 25px;
    }
  }

section.post_content{
  padding-bottom: 75px;
    .row{
      text-align: center;
    }
    div.content{
      
    img{
      
    }
    p{
      margin: 0 auto;
    }
  }

}
