@import 'overrides';

section.top_img {
  position: relative;
  overflow: hidden;
  height: 350px;
  padding-bottom: 50px;
  width: 100%;
  h1{
    font-size: 54px !important;
  	font-weight: 500;
  	padding-top: 15px;
  	padding-bottom: 32px;
  }
  .row{
  	position: relative;
  }
  .poster {
    position: absolute;
    width: 100%;
    z-index: -1;

    img {
      min-width: 1280px;
      width: 100%;
    }


  }
  h1 {
  	text-align: center;
  	color: #fff;
  	font-size: 39px;
    font-weight: 400;
    margin: 1.5em;
  }
  h2 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    margin: -4em 0 0.5em 0;
  }
}

section.news_content{
	padding-top: 100px;
	padding-bottom: 10px;
	
  h3{
      word-wrap: break-word;
      font-weight: 700;
      width: 90%;
    }

    ul{
      list-style-type: none;
      position: relative;
      li{
        padding-bottom:10px;
      }
    }
  .date {
    	color: #9a9a9a;
      padding-bottom: 10px;
    }
  .image{
    	margin-left: auto;
    	margin-right: auto;
    	// display: block;
    }
  .content{
    padding-top: 20px;
    word-wrap: break-word;
  }

  .twitter{
    padding-top: 51px;
  }

  .categories{
    padding-top:10px;
    p{
      color: lightgray;
    }
    ul{
      li{
        margin-left: -1.1rem;
        color: red;
        font-weight: 800;
        margin-bottom: -0.7rem;
      }
    }
  }
}

 // SHOW 

section.news_post
{
  img{
    width: 100%;
  }
  padding-bottom: 80px;
    h4{
        text-align: center;
        color: black;
        font-size: 3.375rem;
        font-weight: 200;
        margin: 2.7em 0 0.5em 0;
        margin-right: 580px
        }

    h2{
      font-size: 19px;
      margin-top: -10rem;
      position: absolute;
      margin-left: 91px;;
      color: rgba(251, 251, 251, 1);
      text-shadow: 1px 1px #C3C3C3;
    }

    h1{
      margin-top: -8rem;
      margin-left: 90px;
      position: absolute;
      font-size: 3rem;
      color: rgba(251, 251, 251, 1);
      text-shadow: 1px 1px #C3C3C3;
    }
    p{
      display: inline;
      color: white;
    }
    a{
      color: rgba(251, 251, 251, 1);
    }
    .date{
      display: inline;
    }
}
section.post_image
  {
    a{
      color: white;
    }
    div.poster{
      width: 100%;
      margin: 0 auto;
    }
    h2{
      font-size: 25px;
    }
  }

section.post_content{
  padding-bottom: 75px;
    .row{
      text-align: center;
    }
    div.content{
      
    img{
      
    }
    p{
      margin: 0 auto;
    }
  }

}
