@import 'overrides';
@import 'compass/css3';
form.signup{
	padding-bottom: 3.625rem;
}
form.signup[data-abide] {
	h2 {
		font-weight: 600;
		padding-bottom:2rem;
		padding-top:1rem;
		font-size: 18px;
		text-align: center;
	}
	h3 {
		font-weight: 500;
		font-size: 13px;
		color: #4d4d4d;
	}

	label {
		padding-right: 0.5rem;
		text-align: right;
		font-weight: 500;
		font-size: 1.1rem;
		line-height: 2.3125rem;

		&.two-lines {
			line-height: 1.1rem;
		}
	}

	input[type=text], 
	input[type=password], 
	select {
		@include border-radius();
		width: 60%;
		margin-bottom: 1rem;
		&.short {
			width: 40%;
			margin-right: 20%;
		}
		&.super-short {
			width: 20%;
			margin-right: 40%;
		}
		&:invalid {
		}
		&:invalid:focus {
		  border: 1px solid #ed831c;
		  background-color: #ffefe0;
		}
	}

	small.error {
		padding: 0;
		width: 35%;
		margin-left: 5%;
		font-size: 0.75rem;
		font-weight: normal;
		font-style: italic;
		line-height: 2.3125rem;
		background-color: transparent;
		color: #ed831c;
	}
	.row.space-after {
		margin-bottom: 2rem;
	}
	.line {
		height: 1px;
		background: #e2e2e2;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.button {
       margin: 20px 0;
	   font-weight: 800;
	   font-size: 21px;
	   width: 80%;
	   display: inline-block;
  	}
}


@media only screen and (max-width: 64em) { /* max-width 1024px */
	form.signup[data-abide] {
		input, select {
			width: 100% !important;
		}
		small.error {
			width: 100% !important;
			margin-left: auto;
			line-height: 1rem;
			margin-bottom: 0.5rem;
		}
		.custom-checkbox .two-lines-for-small {
			line-height: 1rem;
		}
	}
}



.custom-checkbox {

	&.vat {
	  margin-bottom: 1.5rem;
	}

	* {
	  @include inline-block();
	  margin: 0;
	  font-weight: 500;
	}

	input[type=checkbox],
	input[type=checkbox]:checked {
	  display: none;
	}

	label {
	  padding-left: 1.8rem;
	  margin-left: 0 !important;
	  position: relative;
	  font-size: 0.9rem !important;
	}

	label:before {
	  @include inline-block();
	  content: "";
	  border: 1px solid #cccccc;
	  background: white;
	  height: 1.3rem;
	  width: 1.3rem;
	  position: absolute;
	  left: 0;
	  top: 50%;
	  margin-top: -0.65rem;
	}

	input[type=checkbox]:checked + label:before {
	  content: "\2713";
	  font-size: 1.5rem;
	  color: green;
	  text-align: center;
	  line-height: 1.1rem;
	  text-indent: 0.1rem;
	}
}