@import 'overrides';

div.signup{
	label{
	}
	p{
		&.bold{
			font-weight: 600;
			padding-bottom:2rem;
			padding-top:1rem;
			font-size: 18px;
		}
		.sign{

		}
	}
	label~div{
		width: 45%;
		display: inline-block;
		input[type="text"].std,
		input[type="text"].long,
		input[type="text"].phone,
		input[type="text"].short,
		input[type="password"].std, 
		select{
			width: 100%;
			height: 38px;
			padding-right: 50%;
			@media #{$small-only} {
				      width: 93%;
				      padding-right:0%;
				    }
		}
		&.std{
			padding-right: 5%;
			@media #{$small-only} {
				      width: 93%;
				      padding-right:0%;
				    }
		}

		&.long{
			padding-right: 5%;
			@media #{$small-only} {
				      width: 93%;
				      padding-right:0%;
				    }
		}
		&.phone{
			padding-right: 27%;
			@media #{$small-only} {
				      width: 93%;
				      padding-right:0%;
				    }
		}
		&.short{
			padding-right:33%;
			@media #{$small-only} {
				      width: 93%;
				      padding-right:0%;
				    }
		}
		&.select{
			padding-right: 19%;
		}
	}
}