@import 'overrides';
@import "compass/css3/transition";
section.featured-video {
  position: relative;
  overflow: hidden;
  height: 480px;

  .poster {
    position: absolute;
    width: 100%;
    z-index: -1;

    img {
      min-width: 1280px;
      width: 100%;
    }
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 3.375rem;
    font-weight: 200;
    margin: 2.7em 0 0.5em 0;
  }

  a.play-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 94px;
  }
}


section.feature {
  border-top: 1px solid #f5f5f5;
  padding-top: 5rem;
  padding-bottom: 3rem;

section.videos {
  padding-top: 4.5rem;
  padding-bottom: 5.625rem;

  img{
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  h2 {
    color: #333;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2em 0;
  }

  ul {
    margin: 0 auto 5rem auto;
    max-width: 1040px;
    text-align: center;
    list-style: none;

  }

  li {
    display: inline-block;;
    vertical-align: top;
    margin-bottom: 2em;
    width: 340px;
  }

  h3 {
    font-size: 1.85rem;
    color: #333;
    font-weight: 200;
  }

  p {
    font-size: 1rem;
    color: #333;
    font-weight: 200;
    margin: 0;
    text-align: center;
  }

}
  section.quote{
    p{
     padding: 20px 10px;
     border: 1px solid gray;
     border-radius: 10px;
    }
    div{
      text-align: left;
  }
  img{
    text-align: right;
  }
  div.ptext{
    text-align: left;
  }

  div.president{
      display: inline-block;
      text-align: right;
      position: relative;
      padding-left: 1000px;
      p.chris{
        text-align: left;
      }
  }
}

  > .row {
    position: relative;

  }
  .image {
    position: absolute;
    top: 50%;
    left: 0;
    width: 609px;
    height: 383px;
    margin-top: -191px;
    background: image-url('laptop-plain.png') no-repeat 0 0;
  }

  .text {
    padding-left: 740px;
    padding-right: 20px;
    position: relative;

    @media only screen and (max-width: 40em) {
      padding-left: 20px;
    }
    .red-icon {
      position: absolute;
      margin: 0 0 0 -100px;
    }
  }

  h3 {
    margin: 1.2rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  a {
    font-weight: bold;
  }


  ul {
    list-style-type: none;
    li {
      position: relative;
      
      &:before {
        position: absolute;
        content: '•';
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }
    }
  }

  &.switch-order {
    .image {
      left: auto;
      right: 0;
    }

    .text {
      padding-right: 640px;
      padding-left: 120px;
      position: relative;

      @media only screen and (max-width: 40em) {
      padding-right: 160px;
      }
    }
  }
  div.learn_book{
    display: none;
    background-color: #f7f7f7;
    .red-icon {
      position: absolute;
      margin: 0 0 0 -100px;
    }
    ul {
      list-style-type: none;
      li{
        list-style-type: none;
        &:before{
          content: ""
        }
      }

    }
  }
}

.embedded_video {
 /* background-color: blue;*/
 /* background: image-url('emb_video.png') no-repeat top;*/
  margin: 0 auto;
  width: 800px;
  position: relative;
  padding-top: 56px;
  padding-bottom: 98px;

  > ul {
    position: absolute;
    top: 20px;
    left: 134px;
    width: 532px;
    height: 336px;
    background: #fff;
    overflow: hidden;
    margin: 0;
    list-style: none;
    white-space: nowrap;

    li {
      display: inline-block;
      vertical-align: top;
    }

  }

  > a {
    display: block;
    position: absolute;
    top: 35%;
    left: 0;
    width: 50px;
    height: 50px;
    background: $primary-color;
    border-radius: 100%;

   /* &.next {
      left: auto;
      right: 0;
      &:after {
        @include transform(rotate(180deg));
      }
    }*/

    &.inactive {
      background: #e6e6e6;
    }

    &:after {
      content: '';
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQBAMAAAA2ZkhwAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMA758QMM9gjyCAUDIWG4sAAAA+SURBVAjXYwACZgYQcEwAEizSINJxG5zZuB2kIFoBSJpuAilbvQVEsm10AFHVEiCSaasBiNIORuYogEhOAwALpArwKkx3IgAAAABJRU5ErkJggg==');
      width: 9px;
      height: 16px;
      margin: -8px 0 0 -5px;
      position: absolute;
      top: 50%;
      left: 50%;
    }


  }

  .slide-title {
    color: #333;
    text-align: center;
    font-size: 1.125rem;
  }
}

i.red-arrow {

  &:before {
    transition: all 0.5s;
  }

  &.clicked:before {
    transform: rotate(90deg);
  }
}

div.learn_qc {
  // display: none;
  background: #f7f7f7;
  padding-top: 4.5rem;
  padding-bottom: 5.625rem;

    h2 {
      white-space:nowrap;
      color: #333;
      font-size: 2.25rem;
      font-weight: 600;
      text-align: center;
      margin: 0 0 .3em 0;
    }

    h3 {
      color: #333;
      font-size: 1.75rem;
      font-weight: 600;
      text-align: center;
      margin: 4rem 0 .8em 0;
    }

    p {
      color: #777;
      font-size: 1.125rem;
      font-weight: 300;
      text-align: center;
      margin: 0 0 .5em 0;
    }
  >ul {
    list-style: none;
    max-width: 1140px;
    width: 100%;
    margin: 3em auto;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      width: 190px;
      height: 190px;
      border: 1px solid #ccc;
      background: #fff;
      margin: 0 2.5em;
      border-radius: 100%;
      white-space: nowrap;
      &:before {
        position: absolute;
        content: "";
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }

      > p {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-weight: 200;
        margin: 0;

        strong {
          display: block;
          font-weight: bold;
          font-size: 1.5rem;
          color: $primary-color;
          line-height: 1em;
        }
      }

      &:after {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }
  #cos{ 
    padding-bottom: 140px;
    margin-left: 100px;
    margin-right: auto;
    display: inline-block;

    h1 {
      font-size: 22px;
      font-weight: 5px;
      padding-bottom: 23px;
      float: left;
    }

   
    strong {
      display: inline-block;  
    }
    img{
     position: absolute;
     padding-left: 550px;
    }
    ul{
      list-style-type: none;
      padding-left: 150px;
      &:before {
        position: absolute;
        content: "";
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }
      li{
        padding-bottom: 140px;
      }
    }
    p{
      font-weight: 5px;
      font-size: 18px;
      padding-top: -20px;
    }

    .profit{
      li{
      content: "";
      }
    }
  }
  #extra{ 
    
    h1{
      font-size: 30px;
      font-weight: 5px;
      padding-bottom: -8px;
    }

    margin-left: 520px;
    display: inline-block;

    strong {
      display: inline-block;  
    }
    img{
     position: absolute;
     padding-left: 700px;
    }
    ul{
      list-style-type: none;
      padding-right: 58px;
      li{
        list-style-type: none;
        padding-bottom: 140px;
      }
    }
    p{
      font-weight: 5px;
      font-size: 18px;
      padding-top: -20px;
      text-align: left;
    }
  }

  #reqdow{
    margin-left: 720px;
    ul{
        padding-right: 150px;
      li{
        text-align: center;
        display: inline-block;
        strong {
          color:red;
        }
      }
    }
  }

  div.liimg{
    text-align: left;
    strong{
      display: inline-block;
    }

    .liimg-text {
      // @include inline-block();
      display: inline-block;
      width: 60%;
    }

    .liimg-img{
      display: inline-block


    }

    p, h2 {
      text-align: left;
      display: inline-block;
    }
    ul {
    margin: 0 auto 5rem auto;
    max-width: 1040px;
    list-style: none;
    }

    li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
    }
    li{
      span.red-icon{
        @include transition(none);

        &:hover {
          border-width: 0px;
          box-shadow: 0 0 0 0 rgba($primary-color, .8);
        }       
        display: inline-block;
        h1{
          color: #FFF;
          text-align: center;
          }
      }
      img{
        padding-left: 148px;
      }
    }

    ul.demodown{
      li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
    }
    }
  }

  div.profits{
    ul{
      text-align: left;
      h2{
        text-align: left;
        margin: 0px 0px -0.7em;
      }
      p{
        text-align: left;
      }
      li:before{
        content: "";
      }
      li{
        width: 60%;
        padding-left: 104px;
        content: "";
        h2{
          
        }
      }
    }
  }

  div.demodown{
    ul{
      margin: 0 auto 5rem auto;
      max-width: 1040px;
      text-align: center;
      list-style: none;
    }
    li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
      display: inline-block;
    }
  }
}




section.other-feature {
  text-align: center;
  padding-top: 3rem;
   > .row {
    max-width:700px;
  }
}



section.get_started {
  padding-bottom: 52px;
  background-color: #f5f5f5;
  h3 {
  padding-top: 99px;
    text-align: center

  }

  p.get-started {
  padding-bottom: 57px;
  }
}
