@import 'overrides';
@import "compass/css3/transition";

section.featured-video {
  position: relative;
  overflow: hidden;
  height: 480px;
  z-index: 1;
 @media #{$small-only}{
  height: 422px;
 }
  .video-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;

    @media only screen and (max-width: 1200px) {
      width: 1200px;
      left: 50%;
      margin-left: -600px;
    }

    video {
      display: block;
      width: 100%;
    }
    img.poster_img{
      width: 100%;
      height: auto;
    }
  }

  h2 {
    text-align: center;
    color: #fff;
    font-size: 3.375rem;
    font-weight: 200;
    margin: 3.7em 0 0.5em 0;
    z-index: 1;
   @media #{$small-only}{
    font-size: 34px;
    margin-top: 6em;
   }
  }
}

section.benefits-at-your-service.tour{
  padding-bottom: 0;

  h3{
   @media #{$small-only}{
    text-align: left;
    font-size: 30px;
   }
  }

  p{
   @media #{$small-only}{
    text-align: left;
    font-size: 16px;
   }
  }
}
section.feature {
  border-top: 1px solid #f5f5f5;
  padding-top: 2.5rem;
  a{
    color: #e54e26;
    &:hover{ 
      color: #A0371B;
      .red-arrow:before, .webinar:before{
        background-color:#A0371B;
        border: 2px solid #A0371B;
        border-radius: 25px;
      }

    }
  }
  h3{
   @media #{$small-only}{
    text-align: center;
   }   
  }

  h3~p{
    font-size: 1.1rem;
    line-height: 110%;
   @media #{$small-only}{
    text-align: left;
   }
  }
section.videos {
  padding-top: 4.5rem;
  padding-bottom: -0.075rem;

  img{
    height: auto;
    width: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  h2 {
    color: #333;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    margin: 0 0 2em 0;
  }

  ul {
    margin: 0 auto 5rem auto;
    max-width: 1040px;
    text-align: center;
    list-style: none;

  }

  li {
    display: inline-block;;
    vertical-align: top;
    margin-bottom: 2em;
    width: 340px;
  }

  h3 {
    font-size: 1.55rem;
    color: #333;
    font-weight: 600;
    text-align: center;
    @media #{$small-only}{
    text-align: left;
    margin: 0rem;
    font-size: 1.875rem;
   }
  }

  p {
    font-size: 1rem;
    color: #333;
    font-weight: 200;
    margin: 0;
    text-align: center;
    &.numbers{
      background: none repeat scroll 0% 0% #e54e26;
      height: 45px;
      width: 45px;
      line-height: 175%;
      text-align: center;
      border-radius: 37px;
      margin-right: 20px;
      font-size: 1.5rem;
      color: #FFF;
      padding-top: 0px;
      vertical-align: top;
      font-weight: 400;
      @media #{$small-only}{
        margin-right: 20rem;
      }
    }
    @media #{$small-only}{
    text-align: left;
   }
  }

}

section.quote{

  div.quote_cont{
    width: 100%;
    margin: 0 auto;
    clear: both;
    &:after{
      clear:both;
    }
  }

  p.quote{
    background-color: white;
    padding: 2rem 1.5rem;
    border: 1px rgba(128, 128, 128, 0.27);
    border-radius: 15px;
    width: 100%;
    float: right;
    font-size: 1.1rem;

  }
  #triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0 0px;
    border-color: white transparent transparent transparent;
    position: absolute;
    bottom: 0;
    right: 15px;
  }
  p.chris{
    float: right;
    padding-right: 40px;
    margin-top: 1rem;
     @media #{$small-only}{
      float: none;
      display: inline-block;
     }
    span.chris{
      padding-right: 20px;
    }
    strong{
      padding-right: 10px;
    }
    a{
      background: no-repeat;
      .play-button{
        float: right;
      }
    }
  }
}

  > .row {
    position: relative;

  }
  .image {
    position: absolute;
    left: 0;
    width: 609px;
    height: 383px;
    background: image-url('laptop-plain.png') no-repeat 0 0;
    &>img{
      height: 316px;
      top: 23px;
      position: relative;
      left: 53px;
      width: 504px;
    }
    &.slider{
    position: absolute;
    left: 0;
    width: 609px;
    height: 442px;
    background: image-url('slider.png') no-repeat 0 0;
      &>img{
        height: 393px;
        top: 29px;
        position: relative;
        left: 7px;
        width: 528px;
      }
    }
  }


  .text {
    padding-left: 740px;
    padding-right: 20px;
    position: relative;

    @media only screen and (max-width: 40em) {
      padding-left: 20px;
    }
    .red-icon {
      position: absolute;
      margin: 0 0 0 -100px;
      position: absolute;
      margin: 0px 0px 0px -100px;
      background: none;
      border: none;
      box-shadow: none;
         @media #{$small-only}{
          position: static;
          margin: 0px auto 1rem;
        }
    }
  }

  h3 {
    margin: 1.2rem 0 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  a {
    font-weight: bold;
  }


  ul {
    list-style-type: none;
    li {
      position: relative;

      &:before {
        position: absolute;
        content: '•';
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }
    }
  }

  &.switch-order {
    #tour-content-video-19{
      float: right;
    }
    .image {
      left: auto;
      right: 0;
    }

    .text {
      padding-right: 640px;
      padding-left: 120px;
      position: relative;

      @media only screen and (max-width: 40em) {
      padding-right: 20px;
      padding-left:20px;
      span.red-icon{
        // display: none;
      }
      }
    }
  }
  div.learn_book{
    display: none;
    background-color: #f7f7f7;
    padding-top: 4.5rem;
    padding-bottom: 5.625rem;
    position: relative;
    margin-top: 4rem;

    &:after{
      border-color: transparent transparent #F7F7F7;
      border-style: solid;
      border-width: 0px 25px 25px;
      content: "";
      display: inline-block;
      height: 0px;
      right: 42.2%;
      position: absolute;
      top: -20px;
      width: 0px;
      margin-left: -33rem;
    }
    .row{
        position:relative;

        .close{
          background: url('sprites.png') no-repeat -80px 0; width: 57px; height: 57px;
          position: absolute;
          top: 0;
          right: 0;
          margin-right: 10px;
          z-index: 5;
        }
      }
    .red-icon {
      position: absolute;
      margin: 0 0 0 -100px;
    }
    ul {
      list-style-type: none;
      li{
        list-style-type: none;
        &:before{
          content: ""
        }
      }
    }
    ul.round-items{
      list-style: none outside none;
      max-width: 1140px;
      width: 100%;
      margin: 3em auto;
      text-align: center;
      li{
        display: inline-block;
        vertical-align: middle;
        width: 190px;
        height: 190px;
        border: 1px solid #CCC;
        background: none repeat scroll 0% 0% #FFF;
        margin: 0px 2.5em 2rem;
        border-radius: 100%;
        white-space: nowrap;
        p{
          display: inline-block;
          vertical-align: middle;
          width: 100%;
          text-align: center;
          font-weight: 200;
          margin: 0px;
        }
        strong{
          display: block;
          font-weight: bold;
          font-size: 1.5rem;
          color: #e54e26;
          line-height: 1em;
        }
      }
      li:after{
        content: "";
        vertical-align: middle;
        display: inline-block;
        height: 100%;
      }
    }
    section.benefits-at-your-service.tour{
      ul {
        margin: 0 auto 1.5rem;
      }
    }
   
    section.benefits-at-your-service.benefits-tour{
      padding-top: 1.5rem;
      padding-bottom: 0;

      ul {
        margin: 0 auto;
        @media #{$small-only}{
        text-align: left;
        li{
          p{
            @media #{$small-only}{
              float: left;
            }
          }
        }
      }
      }
    }
  }
}

.embedded_video {
 /* background-color: blue;*/
 /* background: image-url('emb_video.png') no-repeat top;*/
  padding-bottom: 20px;
  > ul {
    position: absolute;
    top: 20px;
    left: 134px;
    width: 532px;
    height: 336px;
    background: #fff;
    overflow: hidden;
    margin: 0;
    list-style: none;
    white-space: nowrap;

    li {
      display: inline-block;
      vertical-align: top;
    }
  }

  > a {
    display: block;
    position: absolute;
    top: 35%;
    left: 0;
    width: 50px;
    height: 50px;
    background: $primary-color;
    border-radius: 100%;

   /* &.next {
      left: auto;
      right: 0;
      &:after {
        @include transform(rotate(180deg));
      }
    }*/

    &.inactive {
      background: #e6e6e6;
    }

    &:after {
      content: '';
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAQBAMAAAA2ZkhwAAAAJFBMVEUAAAD///////////////////////////////////////////+0CY3pAAAAC3RSTlMA758QMM9gjyCAUDIWG4sAAAA+SURBVAjXYwACZgYQcEwAEizSINJxG5zZuB2kIFoBSJpuAilbvQVEsm10AFHVEiCSaasBiNIORuYogEhOAwALpArwKkx3IgAAAABJRU5ErkJggg==');
      width: 9px;
      height: 16px;
      margin: -8px 0 0 -5px;
      position: absolute;
      top: 50%;
      left: 50%;
    }


  }

  .slide-title {
    color: #333;
    text-align: center;
    font-size: 1.125rem;
  }
}

i.red-arrow {

  &:before {
    transition: all 0.5s;
  }

  &.clicked:before {
    transform: rotate(90deg);
  }
}

div.learn_qc {
  display: none;
  background: #f7f7f7;
  padding-top: 4.5rem;
  padding-bottom: 5.625rem;
  position: relative;

  .row {
    position: relative;
  }
  .numbers_sec{
    display: inline-block;
  }
  &:after{
    border-color: transparent transparent #F7F7F7;
    border-style: solid;
    border-width: 0px 25px 25px;
    content: "";
    display: inline-block;
    height: 0px;
    left: 50%;
    position: absolute;
    top: -20px;
    width: 0px;
    margin-left: -33rem;
  }

  .close{
    background: url('sprites.png') no-repeat scroll -80px 0px transparent;
    position: absolute;
    top: 20px;
    right: 0;
    width: 57px;
    height: 57px;
    margin-right: 10px;
    z-index: 5;
  }

  div.embedded_video{

    img.emb_vid{
      z-index: 9;
      text-align: center;
      display: block;
      margin: 0 auto;
    }

    #play{
      margin: -240px 10px 0px 350px;
      height: 140px;
      position: relative;
      z-index: 10;
    }
  }

  h2 {
    white-space:nowrap;
    color: #333;
    font-size: 30px;
    font-weight: 5;
    text-align: center;
    margin: 0 0 .3em 0;
    @media #{$small-only}{
      white-space: inherit;
    }
  }

  h3 {
    color: #333;
    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;
    margin: 4rem 0 .8em 0;
  }

  p {
    color: #777;
    font-size: 18px;;
    font-weight: 300;
    text-align: center;
    margin: 0 0 .5em 0;

    .numbers{
      background: blue;
    }
  }

  .row>ul.round-items {
    list-style: none;
    max-width: 1140px;
    width: 100%;
    margin: 0em auto 3em;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: middle;
      width: 190px;
      height: 190px;
      border: 1px solid #ccc;
      background: #fff;
      margin: 0 2.5em 2rem;
      border-radius: 100%;
      white-space: nowrap;

      &:before {
        position: absolute;
        content: "";
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }

      ul.dow{
        background: blue !important;
      }

      > p {
        color: #323232;
        line-height: 120%;
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-weight: 200;
        margin: 0;

        .numbers{
          background: blue;
        }

        strong {
          display: block;
          font-weight: bold;
          font-size: 1.5rem;
          color: $primary-color;
          line-height: 1em;
        }
      }

      &:after {
        content: '';
        height: 100%;
        vertical-align: middle;
        display: inline-block;
      }
    }
  }

  #cos{
    padding-bottom: 140px;
    margin-left: 100px;
    margin-right: auto;
    display: inline-block;

    h1 {
      font-size: 22px;
      font-weight: 5px;
      padding-bottom: 23px;
      float: left;
    }

    strong {
      display: inline-block;
    }

    img{
     position: absolute;
     padding-left: 550px;
    }

    ul{
      list-style-type: none;
      padding-left: 150px;

      &:before {
        position: absolute;
        content: "";
        color: $primary-color;
        margin: 0 0 0 -1rem;
      }

      li{
        padding-bottom: 140px;
      }

    }

    p{
      font-weight: 5px;
      font-size: 18px;
      padding-top: -20px;
    }

    .profit{
      li{
      content: "";
      }
    }
  }

  #extra{

    h1{
      font-size: 30px;
      font-weight: 5px;
      padding-bottom: -8px;
    }

    margin-left: 520px;
    display: inline-block;

    strong {
      display: inline-block;
    }
    img{
     position: absolute;
     padding-left: 700px;
    }
    ul{
      list-style-type: none;
      padding-right: 58px;
      li{
        list-style-type: none;
        padding-bottom: 140px;
      }
    }
    p{
      font-weight: 5px;
      font-size: 18px;
      padding-top: -20px;
      text-align: left;
    }
  }

  #reqdow{
    margin-left: 720px;
    ul{
        padding-right: 150px;
      li{
        text-align: center;
        display: inline-block;
        strong {
          color:red;
        }
      }
    }
  }

  div.liimg{
    text-align: left;
    margin-top: 88px;
    strong{
      display: inline-block;
    }

    .liimg-text {
      // @include inline-block();
      display: inline-block;
      width: 50%;
      vertical-align: top;
       @media #{$small-only}{
          width: 100%;
       }
    }

    .liimg-img{
      display: inline-block;
      vertical-align: top;

      &.ticket{
        padding-left: 32px;
      }
    }

    p, h2 {
      color: #323232;
      line-height: 120%;
      text-align: left;
      display: inline-block;
    }

    h2{
      font-weight: 600;
    }

    p.numbers{
      background: none repeat scroll 0% 0% #e54e26;
      height: 45px;
      width: 45px;
      line-height: 175%;
      text-align: center;
      border-radius: 37px;
      margin-right: 20px;
      font-size: 1.5rem;
      color: white;
      padding-top: 0px;
      vertical-align: top;
      font-weight: 400;
    }
    ul {
    margin: 0 auto 2rem auto;
    max-width: 1040px;
    list-style: none;
    }

    li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
    }
    li{
      span.red-icon{
        // @include transition(none);

        // &:hover {
        //   border-width: 0px;
        //   box-shadow: 0 0 0 0 rgba($primary-color, .8);
        // }
        display: inline-block;
        h1{
          color: #FFF;
          text-align: center;
          }
      }
      img{
        padding-left: 185px;
        margin-bottom: 74px;
      }
    }
    
    ul.demodown{
      li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
    }
    }
  }
  
  div.profits{
    ul{
        margin: 0px auto 5rem;
        list-style: none outside none;
      h2{
        text-align: left;
        margin: 0;
      }
      p{
        color: #323232;
        line-height: 110%;
        text-align: left;
        font-size: 16px;
      }
      li:before{
        content: "";
      }
      li{
        width: 100%;
        content: "";
        margin-bottom: 3rem;
        h2{

        }
      }

    }
  }
  section.benefits-at-your-service{
    ul{
      li{
        span{
          color: #ed1b24;
          font-size: 600;
        }
      }
    }
  }

  section.benefits-at-your-service.benefits-tour{
    padding-top: 1.5rem;
    padding-bottom: 0;
    ul{
      margin: 0px auto 0rem;
      li{
      content: "";
      p{
        text-align: left;
      }
      span{
        color: #ed1b24;
        font-weight: 600;
      }
      }
    }
  }
  div.demodown{
    ul{
      margin: 0 auto 5rem auto;
      max-width: 1040px;
      text-align: center;
      list-style: none;
    }
    li:before {
      content: "";
      vertical-align: top;
      margin-bottom: 2em;
      display: inline-block;
    }
  }
}

.learn_profit{

}
.learn_reporting {
  display: none;
  background-color: #f7f7f7;
  .ability{
    padding-bottom: 6rem;
    padding-top: 3rem;
    h4{
      text-align: center;
      font-size: 18px;
    }
  }

  p{
    padding: 1rem 0;
    line-height: 125%;
    &#api{
      margin-bottom: 2.4rem;
    }
    
    &#web{
      margin-bottom: 0.7rem;
    }
  }
  h1{
    text-align: center;
    font-weight: 600;
  }
  h2{
    text-align: center;
        font-weight: 600;
  }
  h3{
    text-align: center;
    font-weight: 300 !important;
  }
  h4{
    text-align: center;
  }
  h5{
    font-size: 14px;
    line-height: 0%;
    font-weight: 600;
    text-align: center;
  }
  ul.platforms{
    margin: 0px auto 1rem;
    list-style: none outside none;
    img{
      display: block;
      margin: 0 auto;
      padding-bottom: 1rem;
      &.web{
        padding-bottom: 35px;
      }
      &.api{
        padding-bottom: 33px;
      }

    }
    p{

    }
    h4{
      font-weight: 800;
    }

    li:before{
      content: "";
    }
    li:last-child{
      padding-bottom: 10px;
    }
    ul.nested{
      li{
        text-align: left;
        // padding-left: 8rem;
      }
      li:before{
        content: "•";
      }
    }
    h2{
      text-align: center;
    }
  }
}

section.other-feature {
  text-align: center;
  padding-top: 3rem;
  border-top: 1px solid #f5f5f5;
  margin-bottom: 2rem;
  h3{
    font-weight: 600;
    font-size: 24px;
  }
  p{
    font-size: 1.1rem;
    &.support{
      text-align: left;
      font-size: 18px;
    }
  }

  .has-tip{
    border-bottom: 0px;
    a{
      font-weight: 200;
      font-size: 1.1rem;
      padding: 0 0.5rem;
    }
  }
   > .row {
    max-width:700px;
  }
  ul.other_feat{
    list-style-type: none;
  }

}

section.get_started {
  padding-bottom: 52px;
  background-color: #f5f5f5;
  h3 {
  padding-top: 99px;
    text-align: center

  }

  p.get-started {
  padding-bottom: 57px;
  }
}

 p.expander{
  margin-bottom: 6rem;
 }

 ul.section_list{
  li{
    // color: #656565;
    font-weight: 200;
  }
 }
