
<section class="container">
<h1>Contact Us</h1>

<p id="contact-content-1" class="mercury-region" data-mercury="full"><%=content('contact-content-1')%><br> <p><strong><a href="mailto:reservations@trippro.com">reservations@trippro.com</a></strong> or <strong><a href="skype://+18668559630">+1 866-855-9630</a></strong>.</p></p>

<div class="contact_form">
	<div class="row">
	<div class ="small-12">
	  <div>
		<label for="Name">Name</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Email</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Phone</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label class="text" for="Name">Message</label>
		 <textarea rows="4" cols="30">
		</textarea> 
	  </div>
	  <%= link_to "Send Message", '#', class: 'button red-one radius' %>
	</div>
</div>
<!--<%= link_to "Send Message", '#', class: 'button red-one radius' %>-->

</div>
</section>
<!-- <div id="contact_form">
	 <p>Name:</p><input type="text" name="fname"><br>
	  <p>Email:</p><input type="text" name="fname"><br>
	  <p>Phone number:</p><input type="text" name="fname"><br>
	  <p>Company (optional): </p><input type="text" name="fname"><br>
	  <p>Message</p> <textarea cols="10" rows="10" style="height:200px; width:466px";  name="message">
</textarea>
</div>
 -->