
<section class="container">
<h1>Contact Us</h1>

<p>We’d love to hear from you. We have a team who are ready to help you.<br>
If you need immediate help, you can simply contact one of our product experts at<br> <p color= red>reservations@trippro.com or +1 866-855-9630.</p></p>
<div id="contact_form">
	  <p>Name:</p><input type="text" name="fname"><br>
	  <p>Email:</p><input type="text" name="fname"><br>
	  <p>Phone number:</p><input type="text" name="fname"><br>
	  <p>Company (optional): </p><input type="text" name="fname"><br>
	  <p>Message</p> <textarea cols="10" rows="10" style="height:200px; width:466px";  name="message">
</textarea>

<%= link_to "Send Message", '#', class: 'button red-one radius' %>

</div>
<!-- </section>

<div id="contact_form">
	 <p>Name:</p><input type="text" name="fname"><br>
	  <p>Email:</p><input type="text" name="fname"><br>
	  <p>Phone number:</p><input type="text" name="fname"><br>
	  <p>Company (optional): </p><input type="text" name="fname"><br>
	  <p>Message</p> <textarea cols="10" rows="10" style="height:200px; width:466px";  name="message">
</textarea>
</div>

 -->