<section class="faq-logo">
<div class="poster">
	<%= image_tag('faq/header_people.jpg')%>
</div>
<h1>FAQ</h1>
<h2>TripPro® is a revolutionary next generation search, book <br>
and ticketing technology providing the best international fares.</h2>
</section>

<section class="faq_content">
<!-- <div class="test">
 -->	<ul class="row">
<li class="small-12 medium-6 medium-centered columns"><h4>Lorem ipsum </h4>
<h6>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6></li>

<li class="small-12 medium-6 medium-centered columns"><h4>Lorem ipsum </h4>
<h6>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6><li>

<li class="small-12 medium-6 medium-centered columns"><h4>Lorem ipsum </h4>
<h6>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6><li>

<li class="small-12 medium-6 medium-centered  columns"><h4>Lorem ipsum </h4>
<h6>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6>
</li>
<!-- </div>
 -->
</section>

<section class="get_started">


<h3>Start using TripPro today, boost sales within weeks</h3>

<p class='get-started'><%= link_to 'Get Started', '#', class: 'button red-one radius' %></p>
</section>