<section class="video">
  <div class="video-wrapper">
    <video id="video-1" autoplay="autoplay" muted="muted" loop="loop" poster="img/0.png">
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.mp4" type="video/mp4" />
      <source src="https://www.paypalobjects.com/webstatic/mktg/wright/videos/home-signup.webm" type="video/webm" />
    </video>
  </div>
  <h2>Empower your agency with power of TripPro<sup>&reg;</sup></h2>
  <h3>Discover revolutionary next generation search, book<br>and ticketing technology providing the best international fares.</h3>
  <div class="buttons">
    <%= link_to 'Get Started', '#', class: 'button red-one radius' %>
    <%= link_to 'Take the Tour', '#', class: 'button white-one radius' %>
  </div>
  <div class="infobar">
    <a href="" class="with-arrow arrow-right">
      <%= image_tag('infobar-icon.png')  %>
      Download TripPro From Sabre Red App Centre
    </a>
  </div>
</section>

