
<section class="container">
<div class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<h1 id="sign_up-content-1" class="mercury-region" data-mercury="full"><%=content('sign_up-content-1')%></h1>

		<p id="sign_up-content-2" class="hide-for-small-only mercury-region" data-mercury="full"><%=content('sign_up-content-2')%></p></p>
	</div>
</div>
<div class="small-12 medium-12 large-8 large-centered medium-centered columns contact_form signup">

<form name="input" data-abide>
<small class="error center"> Some errors </small>
	
	  <p class="bold">1.Personal Data</p>
	  <div class="small-12 medium-12 medium-centered small-centered">
		<label for="Name">First Name</label>
		<div class="std">
			<input name="Name" type="text" class="std" required aria-required=”true”></input>
		</div>
		<small class="error">First Name is required</small>
	  </div>
	  <div class="small-12 small-centered">
		<label for="Name"> Last Name</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
		 <small class="error">Last Name is required</small>
	  </div>
	  <div class="small-12 small-centered">
		<label for="Name">Phone Number</label>
		<div class="phone"><input name="Name" type="text" class="phone" required aria-required=”true”></input></div>
	  <small class="error">Phone Number is required</small>
	  </div>
	  <div class="small-12 small-centered">
		<label for="Name">Email</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
		<small class="error">Email is required</small>
	  </div>
	  <div class="small-12 small-centered">
		<label for="Name">Password</label>
		<div class="std"><input name="Name" minlength=5 type="password" class="std" required aria-required=”true”></input></div>
		<small class="error">Password is required</small>
	  </div>
	  <div class="small-12 small-centered">
		<label for="Name">Retype Password</label>
		<div class="std"><input name="Name" type="password" class="std" required aria-required=”true”></input></div>
		<small class="error">Retype Password is required</small>
	  </div>
	  	  <div>
		<label for="Name">Job Title</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
	  </div>
	  <div>
		<label for="Name">Fax Number</label>
		<div class="phone"><input name="Name" type="text" class="phone" required aria-required=”true”></input></div>
	  </div>
	  <div>
		<label for="Name">Referrer</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
	  </div>
	  	<p class="bold">2.Agency Data</p>

	  <div>
		<label for="Name">Agency Name</label>
		<div class="long"><input name="Name" type="text" class="long" required aria-required=”true”></input></div>
	  		<small class="error">Agency name is required</small>
	  </div>
	  <div>
		<label for="Name">Agency Phone</label>
		<div class="phone"><input name="Name" type="text" class="phone" required aria-required=”true”></input></div>
	  		<small class="error">Agency Phone is required</small>
	  </div>
	  <div>
		<label for="Name">Owner or President</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
		<small class="error">Owner is required</small>
	  </div>
	  	  <div>
		<label for="Name">Street Address</label>
		<div class="long"><input name="Name" type="text" class="long" required aria-required=”true”></input></div>
		<small class="error">Street Address is required</small>

	  </div>
	  <div>
		<label for="Name">City</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
		<small class="error">City is required</small>	
	  </div>
	  <div>
		<label for="Name">Country</label>
		 <div class="std">
		 <select>
		  <option value="country">Select</option>
		</select></div> 
		<small class="error">Country is required</small>
	  </div>
	  	  <div class="std">
		<label for="Name">State/Province</label>
		<div class="std">
		<select>
		  <option value="state">Select</option>
		</select></div>
		<small class="error">State is required</small> 
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<div class="short"><input name="Name" type="text" class="short" required aria-required=”true”></input>
	    </div>
		<small class="error">Zip/Postal Code is required</small>
	  </div>
	  <div class="checkboxes" >
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="diffaddress">Different from address specified above
	  </div>	
	<div class="diffaddress">
	  <div>
		<label for="Name">Street Address</label>
		<div class="long"><input name="Name" type="text" class="long" required aria-required=”true”></input></div>
	  </div>
	  	  <div>
		<label for="Name">City</label>
		<div class="std"><input name="Name" type="text" class="std" required aria-required=”true”></input></div>
	  </div>
	  <div>
		<label for="Name">Country</label>
		<div class="std">
		<select>
		  <option value="volvo">Select</option>
		</select></div> 
	  </div>
	  	  <div>
		<label for="Name">State/Province</label>
		<div class="std">
		<select>
		  <option value="volvo">Select</option>
		</select></div> 
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<div class="short"><input name="Name" type="text" class="short" required aria-required=”true”></input></div>
	  </div>
	</div>
	<div class="checkboxes">
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="extradata">I want to add additional Agency data (IATA, GDS, Memberships) 
	</div>
	<div class="extradata">
	  <div>
		<label for="Name">ARC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">IATA</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	    <div>
		<label for="Name">TRUE/TICO/TIDS</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">CLIA</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	    <div>
		<label for="Name">Agency website address (url)</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">Business Type</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div><strong>MEMBERSHIP</strong></div>
	    <div>
		<label for="Name">HBA</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">HOST</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	    <div>
		<label for="Name">Consortium/Affiliate</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">ASTA</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
		<strong>GDS</strong>
	    <div>
		<label for="Name">Sabre PCC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">Galileo PCC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	    <div>
		<label for="Name">Worldspan PCC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	  <div>
		<label for="Name">Amadeus PCC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div> 
	  <div>
		<label for="Name">Apollo PCC</label>
		<div class="long"><input name="Name" type="text" class="long"></input></div>
	  </div>
	</div>
	<div class="checkboxes">
		<input type="checkbox" name="vehicle" value="Bike" class="">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %>

	</div>
	<input type="submit" value="Submit" class="button red-one grey radius">

</form>
<!--<%= link_to "Send Message", '#', class: 'button red-one radius' %>-->

</div>
</section>