<section class="signup">
<div class="row">
<h1>Sign up</h1>

<p>Please fill out the application form below. You should hear back from us within 1-2<br> business days and you can start using TripPro right away.
</p>
<div class="signup_form">
	<div class ="smaller-12">
	  <p><strong>1.Personal Data</strong></p>
	  <p>First Name</p><input type="text" name="fname" style="width:333px;"><br>
	  <p>Last name</p><input type="text" name="fname"><br>
	  <p>Phone number</p><input type="text" name="fname"><br>
	  <p>Email </p><input type="text" name="fname"><br>
	  <p>Password</p><input type="text" name="fname"><br>
	  <p>Retype Password</p><input type="text" name="fname"><br>
	  <p>Job Title</p><input type="text" name="fname"><br>
	  <p>Referrer</p><input type="text" name="fname"><br>
	  <p>Email </p><input type="text" name="fname"><br>

	  <h3>2. Agency Data</h3>

	  <p>Agency Name </p><input type="text" name="fname"><br>

	  <p>Agency Phone</p><input type="text" name="fname"><br>
	  <p>Owner or president</p><input type="text" name="fname"><br>

	  <p>Street Address</p><input type="text" name="fname"><br>

	  <p>City </p><input type="text" name="fname"><br>
	  <p>Country </p>
	   <select>
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	   </select> <br>
	  <p>State/Province</p><select>
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	   </select> <br><br>
	  <p>Zip/Postal Code</p><input type="text" name="fname"><br>
	<div class="checkboxes">
	  <form>
	  <input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="diffaddress">Different from address specified above<br>
	  <div class="diffaddress">
		  <p>Street Address</p><input type="text" name="fname"><br>

		  <p>City </p><input type="text" name="fname"><br>
		  <p>Country </p>
		   <select>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		   </select> <br>
		  <p>State/Province</p><input type="text" name="fname"><br>
		  <p>Zip/Postal Code</p><input type="text" name="fname"><br>
	  </div>
	  <input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="extradata">I want to add additional Agency data (IATA, GDS, Memberships)<br>
	  <div class="extradata">
		  <p>ARC</p><input type="text" name="fname"><br>
		  <p>IATA</p><input type="text" name="fname"><br>
		  <p>TRUE/TICO/TIDS</p><input type="text" name="fname"><br>
		  <p>CLIA</p><input type="text" name="fname"><br>
		  <p>Agency website address (url)</p><input type="text" name="fname"><br>
		  <p>Business Type</p><input type="text" name="fname"><br>

		  <p>Membership<br></p>
		  <p>HBA</p><input type="text" name="fname"><br>
		  <p>HOST</p><input type="text" name="fname"><br>
		  <p>Consortium/Affiliate</p><input type="text" name="fname"><br>
		  <p>ASTA</p><input type="text" name="fname"><br>

		  <p>GDS<br></p>

		  <p>Sabre PCC</p><input type="text" name="fname"><br>
		  <p>Galileo PCC</p><input type="text" name="fname"><br>
		  <p>Worldspan PCC</p><input type="text" name="fname"><br>
		  <p>Amadeus PCC</p><input type="text" name="fname"><br>
		  <p>Apollo PCC</p><input type="text" name="fname"><br>
	  </div>
	  <input type="checkbox" name="vehicle" value="Bike">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %><br>
	  </form>
	</div>
</div>
<%= link_to "Send Message", '#', class: 'button red-one radius' %>
</div>

</section>