
<section class="container">
<div class="row">
	<div class="small-12 medium-10 medium-centered columns">
		<h1>Sign up</h1>

		<p>Please fill out the application form below. You should hear back from us within 1-2 business days and you can start using TripPro right away.</p></p>
	</div>
</div>
<div class="small-12 medium-10 medium-centered columns contact_form signup">
	<div class="row">

	  <p><strong class="sign">1.Personal Data</strong></p>
	  <div>
		<label for="Name">First Name</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  <div>
		<label for="Name"> Last Name</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  <div>
		<label for="Name">Phone Number</label>
		<input name="Name" type="text" class="phone"></input>
	  </div>
	  <div>
		<label for="Name">Email</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  <div>
		<label for="Name">Password</label>
		<input name="Name" type="password"class="std"></input>
	  </div>
	  <div>
		<label for="Name">Retype Password</label>
		<input name="Name" type="password" class="std"></input>
	  </div>
	  	  <div>
		<label for="Name">Job Title</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  <div>
		<label for="Name">Fax Number</label>
		<input name="Name" type="text" class="phone"></input>
	  </div>
	  <div>
		<label for="Name">Referrer</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  	<p><strong class="sign">2.Agency Data</strong></p>

	  <div>
		<label for="Name">Agency Name</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">Agency Phone</label>
		<input name="Name" type="text" class="phone"></input>
	  </div>
	  <div>
		<label for="Name">Owner or President</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  	  <div>
		<label for="Name">Street Address</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">City</label>
		<input name="Name" type="text" class="std"></input>	
	  </div>
	  <div>
		<label for="Name">Country</label>
		 <select>
		  <option value="volvo">Select</option>
		</select> 
	  </div>
	  	  <div>
		<label for="Name">State/Province</label>
		<select>
		  <option value="volvo">Select</option>
		</select> 
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<input name="Name" type="text" class="short"></input>
	  </div>
	  <div >
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="diffaddress">Different from address specified above
	  </div>	
	<div class="diffaddress">
	  <div>
		<label for="Name">Street Address</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  	  <div>
		<label for="Name">City</label>
		<input name="Name" type="text" class="std"></input>
	  </div>
	  <div>
		<label for="Name">Country</label>
		<select>
		  <option value="volvo">Select</option>
		</select> 
	  </div>
	  	  <div>
		<label for="Name">State/Province</label>
		<select>
		  <option value="volvo">Select</option>
		</select> 
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<input name="Name" type="text" class="short"></input>
	  </div>
	</div>
	<div>
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="extradata">I want to add additional Agency data (IATA, GDS, Memberships) 
	</div>
	<div class="extradata">
	  <div>
		<label for="Name">ARC</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">IATA</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	    <div>
		<label for="Name">TRUE/TICO/TIDS</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">CLIA</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	    <div>
		<label for="Name">Agency website address (url)</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">Business Type</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <strong>MEMBERSHIP</strong>
	    <div>
		<label for="Name">HBA</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">HOST</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	    <div>
		<label for="Name">Consortium/Affiliate</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">ASTA</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
		<strong>GDS</strong>
	    <div>
		<label for="Name">Sabre PCC</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">Galileo PCC</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	    <div>
		<label for="Name">Worldspan PCC</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	  <div>
		<label for="Name">Amadeus PCC</label>
		<input name="Name" type="text" class="long"></input>
	  </div> 
	  <div>
		<label for="Name">Apollo PCC</label>
		<input name="Name" type="text" class="long"></input>
	  </div>
	</div>
		<div>
			<input type="checkbox" name="vehicle" value="Bike">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %>
		</div>

	  <%= link_to "Submit", '#', class: 'button red-one radius' %>
	</div>
<!--<%= link_to "Send Message", '#', class: 'button red-one radius' %>-->

</div>
</section>