<section class="signup">
<div class="row">
	<div class="signup_text">
<h1>Sign up</h1>

<p>Please fill out the application form below. You should hear back from us within 1-2<br> business days and you can start using TripPro right away.
</p>
	</div>
<div class="signup_form">
	
		<label for="myInput">Input stuff</label>
	  <input type="text" name="myInput" id="myInput"/>

	  <input type="checkbox" name="vehicle" value="Bike">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %><br>

	</div>
</div>
<%= link_to "Send Message", '#', class: 'button red-one radius' %>
</div>

</section>