<section class="signup">
<div class="row">
	<div class="signup_text">
<h1>Sign up</h1>

<p class="hide-for-small-only info">Please fill out the application form below. You should hear back from us within 1-2<br> business days and you can start using TripPro right away.
</p>
	</div>
<div class="contact_form">
	<p><strong>1.Personal Data</strong></p>
	  <div class>
		<label for="Name">First Name</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name"> Last Name</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Phone Number</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Email</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Password</label>
		<input name="Name" type="password"></input>
	  </div>
	  <div>
		<label for="Name">Retype Password</label>
		<input name="Name" type="password"></input>
	  </div>
	  	  <div>
		<label for="Name">Job Title</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Fax Number</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Referrer</label>
		<input name="Name" type="text"></input>
	  </div>
	  	<p><strong>2.Agency Data</strong></p>

	  <div>
		<label for="Name">Agency Name</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Agency Phone</label>
		<input name="Name" type="text" width=560px></input>
	  </div>
	  <div>
		<label for="Name">Owner or President</label>
		<input name="Name" type="text"></input>
	  </div>
	  	  <div>
		<label for="Name">Street Address</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">City</label>
		<input name="Name" type="text"></input>	
	  </div>
	  <div>
		<label for="Name">Country</label>
		<input name="Name" type="text"></input>	
	  </div>
	  	  <div>
		<label for="Name">State/Province</label>
		<input name="Name" type="text"></input>	
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<input name="Name" type="text"></input>
	  </div>
	  <hr>
	  <div class="checkboxes">
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="diffaddress">Different from address specified above<br><hr>
	  </div>	
	  <div class="diffaddress">
	  <div>
		<label for="Name">Street Address</label>
		<input name="Name" type="text"></input>
	  </div>
	  	  <div>
		<label for="Name">City</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Country</label>
		<input name="Name" type="text"></input>
	  </div>
	  	  <div>
		<label for="Name">State/Province</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Zip/Postal Code</label>
		<input name="Name" type="text"></input>
		  <hr>
	  </div>
	</div>
	<div class="checkboxes">
		<input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="extradata">I want to add additional Agency data (IATA, GDS, Memberships) 
		<hr>
	</div>
		<div class="extradata">
	  <div>
		<label for="Name">ARC</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">IATA</label>
		<input name="Name" type="text"></input>
	  </div>
	    <div>
		<label for="Name">TRUE/TICO/TIDS</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">CLIA</label>
		<input name="Name" type="text"></input>
	  </div>
	    <div>
		<label for="Name">Agency website address (url)</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Business Type</label>
		<input name="Name" type="text"></input>
	  </div>
	  <strong>Membership</strong>
	    <div>
		<label for="Name">HBA</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">HOST</label>
		<input name="Name" type="text"></input>
	  </div>
	    <div>
		<label for="Name">Consortium/Affiliate</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">ASTA</label>
		<input name="Name" type="text"></input>
	  </div>
	<strong>gds</strong>
	    <div>
		<label for="Name">Sabre PCC</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Galileo PCC</label>
		<input name="Name" type="text"></input>
	  </div>
	    <div>
		<label for="Name">Worldspan PCC</label>
		<input name="Name" type="text"></input>
	  </div>
	  <div>
		<label for="Name">Amadeus PCC</label>
		<input name="Name" type="text"></input>
	  </div> 
	  <div>
		<label for="Name">Apollo PCC</label>
		<input name="Name" type="text"></input>
	  </div>
	</div>
	<div>
	<div class="checkboxes">
		<input type="checkbox" name="vehicle" value="Bike">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %><br><hr>
	</div>
</div>
	</div>

	
	  <!-- <label for="Name">Name:</label><input type="text" name="fname" style="width:333px;"><br>
	  <label for="Name">Last Name:</label><input type="text" name="fname"><br>
	  <p>Phone number</p><input type="text" name="fname"><br>
	  <p>Email </p><input type="text" name="fname"><br>
	  <p>Password</p><input type="text" name="fname"><br>
	  <p>Retype Password</p><input type="text" name="fname"><br>
	  <p>Job Title</p><input type="text" name="fname"><br>
	  <p>Referrer</p><input type="text" name="fname"><br>
	  <p>Email </p><input type="text" name="fname"><br>

	  <h3>2. Agency Data</h3>

	  <p>Agency Name </p><input type="text" name="fname"><br>

	  <p>Agency Phone</p><input type="text" name="fname"><br>
	  <p>Owner or president</p><input type="text" name="fname"><br>

	  <p>Street Address</p><input type="text" name="fname"><br>

	  <p>City </p><input type="text" name="fname"><br>
	  <p>Country </p>
	   <select>
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	   </select> <br>
	  <p>State/Province</p><select>
	  <option value="volvo">Volvo</option>
	  <option value="saab">Saab</option>
	  <option value="mercedes">Mercedes</option>
	  <option value="audi">Audi</option>
	   </select> <br><br>
	  <p>Zip/Postal Code</p><input type="text" name="fname"><br>
	<div class="checkboxes">
	  <form>
	  <input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="diffaddress">Different from address specified above<br>
	  <div class="diffaddress">
		  <p>Street Address</p><input type="text" name="fname"><br>

		  <p>City </p><input type="text" name="fname"><br>
		  <p>Country </p>
		   <select>
		  <option value="volvo">Volvo</option>
		  <option value="saab">Saab</option>
		  <option value="mercedes">Mercedes</option>
		  <option value="audi">Audi</option>
		   </select> <br>
		  <p>State/Province</p><input type="text" name="fname"><br>
		  <p>Zip/Postal Code</p><input type="text" name="fname"><br>
	  </div>
	  <input type="checkbox" name="vehicle" value="Bike" class="box_expander" data-target="extradata">I want to add additional Agency data (IATA, GDS, Memberships)<br>
	  <div class="extradata">
		  <p>ARC</p><input type="text" name="fname"><br>
		  <p>IATA</p><input type="text" name="fname"><br>
		  <p>TRUE/TICO/TIDS</p><input type="text" name="fname"><br>
		  <p>CLIA</p><input type="text" name="fname"><br>
		  <p>Agency website address (url)</p><input type="text" name="fname"><br>
		  <p>Business Type</p><input type="text" name="fname"><br>

		  <p>Membership<br></p>
		  <p>HBA</p><input type="text" name="fname"><br>
		  <p>HOST</p><input type="text" name="fname"><br>
		  <p>Consortium/Affiliate</p><input type="text" name="fname"><br>
		  <p>ASTA</p><input type="text" name="fname"><br>

		  <p>GDS<br></p>

		  <p>Sabre PCC</p><input type="text" name="fname"><br>
		  <p>Galileo PCC</p><input type="text" name="fname"><br>
		  <p>Worldspan PCC</p><input type="text" name="fname"><br>
		  <p>Amadeus PCC</p><input type="text" name="fname"><br>
		  <p>Apollo PCC</p><input type="text" name="fname"><br>
	  </div>
	  <input type="checkbox" name="vehicle" value="Bike">I agree to TripPro™ <%= link_to "Terms and Conditions", '#', class: "red" %><br>
	  </form>
 -->
	</div>
</div>
<%= link_to "Submit", '#', class: 'button red-one radius' %>
</div>

</section>