<section class="featured-video">
  <div class="poster">
    <%= image_tag('featured_video.jpg') %>
  </div>
  <h2>Discover the power behind TripPro</h2>
  <a href="#" class="play-button"><i class="custom-icon play"></i></a>
</section>
